<div class="panel panel-default">
  <div class="panel-body" ng-show="addressFound">
    <p>Address: <span>{{addressData.Address1}}</span>, <span>{{addressData.AddressCity}}</span>, <span>{{addressData.AddressState}}</span></p>
    <p>Zip: {{addressData.AddressZip}}</p>
  </div>
  <div class="panel-body" ng-hide="addressFound">
    Checking your current address...
  </div>
</div>
<form role="form" name="form_address" id="form_address">
  <div class="form-group has-feedback">
    <label class="control-label" for="address_address">Address<span class="required-mark"> *</span></label>
    <input type="text" class="form-control" placeholder="Address" name="address_address" id="address_address" ng-model="address.address" required>
    <i class="form-control-feedback glyphicon glyphicon-home"></i>
    <div ng-messages="form_address.address_address.$error" style="color:maroon" ng-show="form_address.address_address.$touched" role="alert">
      <div ng-message="required">You did not enter a field</div>
    </div>

  </div>
  <div class="form-group has-feedback">
    <label class="control-label" for="address_zip">Zip code<span class="required-mark"> *</span></label>
    <input type="text" class="form-control" placeholder="zip code" name="address_zip" id="address_zip" ng-model="address.zip" ng-change="checkZip()" zipcode required>
    <i class="form-control-feedback glyphicon glyphicon-map-marker"></i>
    <div ng-messages="form_address.address_zip.$error" style="color:maroon" ng-show="form_address.address_zip.$touched" role="alert">
      <div ng-message="required">You did not enter a field</div>
      <div ng-message="zipcode">Invalid zip format. Should be 5-digit number</div>
      <div ng-message="existingZip">There is no location found. Please, double check the zip code</div>
    </div>

  </div>
  <div class="form-group has-feedback">
    <label class="control-label" for="address_city">City<span class="required-mark"> *</span></label>
    <input type="text" class="form-control" placeholder="city" name="address_city" id="address_city" ng-model="address.city" readonly="readonly" required>
    <i class="form-control-feedback glyphicon glyphicon-map-marker"></i>
  </div>
  <div class="form-group has-feedback">
    <label class="control-label" for="address_state">State<span class="required-mark"> *</span></label>
    <input type="text" class="form-control" placeholder="state" name="address_state" id="address_state" ng-model="address.state" readonly="readonly" required>
    <i class="form-control-feedback glyphicon glyphicon-map-marker"></i>
  </div>
  <div class="form-group has-feedback">
    <label class="control-label" for="address_cell-phone">Cell phone number<span class="required-mark"> *</span></label>
    <input type="text" class="form-control" placeholder="cell phone number" name="address_cell-phone" id="address_cell-phone" ng-model="address.cellPhone" required>
    <i class="form-control-feedback glyphicon glyphicon-phone"></i>
    <div ng-messages="form_address['address_cell-phone'].$error" style="color:maroon" ng-show="form_address['address_cell-phone'].$touched" role="alert">
      <div ng-message="required">You did not enter a field</div>
    </div>
  </div>
  <div class="form-group has-feedback">
    <label class="control-label" for="address_home-phone">Home phone number</label>
    <input type="text" class="form-control" placeholder="home phone number" name="address_home-phone" id="address_home-phone" ng-model="address.homePhone">
    <i class="form-control-feedback glyphicon glyphicon-phone-alt"></i>
  </div>
  <div class="form-group">
    <button class="btn btn-danger">Cancel</button>
    <button class="btn btn-success" type="submit">Submit</button>
  </div>
</form>
