<p ng-show="ownerReady">
  Hello, {{owner.FirstName}} {{owner.LastName}}.
  Your Last4SS is {{owner.Last4SS}}.
</p>
<table ng-show="benefitReady">
  <tr>
    <td>
      DeductionAmount
    </td>
    <td>
     {{benefit.DeductionAmount}}
    </td>
  </tr>
  <tr>
    <td>
      DeductionMode
    </td>
    <td>
     {{benefit.DeductionMode}}
    </td>
  </tr>
  <tr>
    <td>
      DeductionType
    </td>
    <td>
     {{benefit.DeductionType}}
    </td>
  </tr>
  <tr>
    <td>
      LastPaymentAmount
    </td>
    <td>
     {{benefit.LastPaymentAmount}}
    </td>
  </tr>
  <tr>
    <td>
      PolicyCoverage
    </td>
    <td>
     {{benefit.PolicyCoverage}}
    </td>
  </tr>
  <tr>
    <td>
      PolicyEffDate
    </td>
    <td>
     {{benefit.PolicyEffDate | date:'MM/dd/yyyy HH:mm'}}
    </td>
  </tr>
  <tr>
    <td>
      PolicyID
    </td>
    <td>
     {{benefit.PolicyID}}
    </td>
  </tr>
  <tr>
    <td>
      PolicyProductName
    </td>
    <td>
     {{benefit.PolicyProductName}}
    </td>
  </tr>
  <tr>
    <td>
      PolicySubscriberName
    </td>
    <td>
     {{benefit.PolicySubscriberName}}
    </td>
  </tr>
  <tr>
    <td>
      PolicyWeeklyPremium
    </td>
    <td>
     {{benefit.PolicyWeeklyPremium}}
    </td>
  </tr>
  <tr>
    <td>
      Status
    </td>
    <td>
     {{benefit.Status}}
    </td>
  </tr>
  <tr>
    <td>
      Type
    </td>
    <td>
     {{benefit.Type}}
    </td>
  </tr>
</table>
<div ng-hide="benefitReady">Loading benefit...</div>
<table ng-show="benefitPaymentsReady">
  <tr>
    <th>Amount</th>
    <th>Date</th>
    <th>Type</th>
  </tr>
  <tr ng-repeat="payment in benefitPayments">
    <td>{{payment.PaymentAmount}}</td>
    <td>{{payment.PaymentDate | date:'MM/dd/yyyy HH:mm'}}</td>
    <td>{{payment.Type}}</td>
  </tr>
</table>
