<h1 class="page-title">Policies</h1>
<p ng-hide="ownerReady || addressFound">Loading...</p>
<p ng-show="ownerReady">
  Hello, {{owner.FirstName}} {{owner.LastName}}.
  Your Last4SS is {{owner.Last4SS}}.
</p>
<div class="panel panel-default" ng-show="addressFound">
  <div class="panel-body">
    <p>Address: <span>{{addressData.Address1}}</span>, <span>{{addressData.AddressCity}}</span>, <span>{{addressData.AddressState}}</span></p>
    <p>Zip: {{addressData.AddressZip}}</p>
    <a href="#/address">Edit</a>
  </div>
</div>
<table class="table table-hover" ng-show="policyReady">
  <tr>
    <th>ID</th>
    <th>Status</th>
    <th>Type</th>
    <th>Amount</th>
  <tr ng-repeat="policy in policies" class="pointer" ng-click="openPolicy(policy.PolicyID)">
    <td>
     {{policy.PolicyID}}
    </td>
    <td>
     {{policy.Status}}
    </td>
    <td>
     {{policy.DeductionType}}
    </td>
    <td>
     {{policy.DeductionAmount}}
    </td>
  </tr>
</table>
