<h1 class="page-title">Policy info</h1>
<div class="panel panel-default" ng-show="ownerReady">
<!--   <div class="panel-body">
    Hello, {{owner.FirstName}} {{owner.LastName}}.
    Your Last4SS is {{owner.Last4SS}}.
  </div>
 -->
  <div class="panel-body" ng-show="policyReady">
    <p><strong class="blue">{{policy.PolicySubscriberName}}</strong></p>
  </div>
</div>
<table class="table table-hover" ng-show="policyReady">
  <tr>
    <td>
      Product Name
    </td>
    <td>
     {{policy.PolicyProductName}}
    </td>
  </tr>
  <tr>
    <td>
      Policy
    </td>
    <td>
      {{policy.PolicyNo}}
    </td>
  </tr>
  <tr>
    <td>
      Effective Date
    </td>
    <td>
     {{policy.PolicyEffDate | date:'MM/dd/yyyy'}}
    </td>
  </tr>
  <tr>
    <td>
      Status
    </td>
    <td>
     {{(policy.Status === 'InForce') ? 'In-Force' : policy.Status}}
    </td>
  </tr>
  <tr>
    <td>
      Coverage
    </td>
    <td>
     {{policy.PolicyCoverage | currency}}
    </td>
  </tr>
  <tr>
  <tr>
    <td>
      Premium (weekly)
    </td>
    <td>
     {{policy.PolicyWeeklyPremium | currency}}
    </td>
  </tr>
  <tr>
    <td>
       Deduction Mode
    </td>
    <td>
     {{policy.DeductionMode}}
    </td>
  </tr>
  <tr>
    <td>
      Deduction Amount
    </td>
    <td>
     {{policy.DeductionAmount | currency}}
    </td>
  </tr>
  <tr>
    <td>
      Last Payment Date
    </td>
    <td>
     {{policy.LastPaymentDate | date:'MM/dd/yyyy'}}
    </td>
  </tr>

<!--   <tr>
    <td>
      DeductionType
    </td>
    <td>
     {{policy.DeductionType}}
    </td>
  </tr>
    <td>
      PolicyID
    </td>
    <td>
     {{policy.PolicyID}}
    </td>
  </tr>
  <tr>
    <td>
      PolicySubscriberName
    </td>
    <td>
     {{policy.PolicySubscriberName}}
    </td>
  </tr>
  <tr>
    <td>
      Type
    </td>
    <td>
     {{policy.Type}}
    </td>
  </tr>
 -->
</table>
<div ng-hide="policyReady">Loading policy...</div>
<div class="form-group">
  <a class="btn btn-info" ng-show="policyReady" href="#/payments/{{policy.PolicyID}}">Collected Premiums Last Year</a>
  <a class="btn btn-info" href="#/service">Request Policy Service</a>
</div>
