<h1 class="page-title">Reset Password</h1>
<form role="form" name="form_reset" id="form_reset">
  <div class="form-group has-feedback">
    <label class="control-label" for="reset_username">Username<span class="required-mark"> *</span></label>
    <input type="text" class="form-control" placeholder="Username" name="reset_username" id="reset_username" ng-model="reset.username" required>
    <i class="form-control-feedback glyphicon glyphicon-user"></i>
    <div ng-messages="form_reset.reset_username.$error" style="color:maroon" ng-show="form_reset.reset_username.$touched" role="alert">
      <div ng-message="required">You did not enter a field</div>
    </div>
  </div>
  <div class="form-group has-feedback">
    <label class="control-label" for="reset_password-old">Password<span class="required-mark"> *</span></label>
    <input type="password" class="form-control" placeholder="******" name="reset_password-old" id="reset_password-old" ng-model="reset.passwordOld" required minlength=7>
    <i class="form-control-feedback glyphicon glyphicon-lock"></i>
    <div ng-messages="form_reset['reset_password-old'].$error" style="color:maroon" ng-show="form_reset['reset_password-old'].$touched" role="alert">
      <div ng-message="required">You did not enter a field</div>
      <div ng-message="minlength">Password can't be shorter than 7 symbols</div>
    </div>

  </div>

  <div class="form-group">
    <button class="btn btn-success" type="submit" ng-click="resetPassword()">Reset</button>
  </div>

</form>
